/**
 * ### SERVER UI ###
 */

/* --- Drop shadow on channel header --- */
section[class*='container-'][aria-label='Channel header'] {
  box-shadow: var(--elevation-low);
}

/* --- Bubble bar like chat bar --- */
[class^='chatContent-'] > [class^='form-'] {
  padding-right: 8px;
}
[class^='channelTextArea-'] {
  background-color: transparent;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] {
  background: none;
  border-radius: 0;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] {
  padding-left: 0;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='attachWrapper-'] {
  border-radius: 6px;
  background: var(--channeltextarea-background);
  width: 44px;
  height: 44px;
  margin-right: 8px;
  top: 0;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='attachWrapper-'] > button {
  margin: 0;
  padding: 0;
  width: -webkit-fill-available;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='textArea-'] {
  background-color: var(--channeltextarea-background);
  border-radius: 6px;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='attachWrapper-'] + [class^='textArea-'] > div:not([class]) > div {
  margin-left: 10px;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='buttons-'] {
  margin-left: 8px;
  background-color: var(--channeltextarea-background);
  border-radius: 6px;
  margin-right: 0;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='buttons-'] > div,
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='buttons-'] > button {
  width: 44px;
}
[class^='channelTextArea-'] > [class^='scrollableContainer-'] > [class^='inner-'] > [class^='buttons-'] > div > button {
  width: -webkit-fill-available;
}

/**
 * --- Forum channel tweaks ---
 */

/* -- Change search bar's placeholder text color -- */
[aria-label='Create Post'] form [class^='formContainer-'] [class^='form-'] [class^='titleContainer-'] [class*='flex-'] div textarea::placeholder {
  color: var(--text-normal);
}

/* -- Border around the tags container -- */
[class^='tagsContainer-'] {
  background-color: var(--background-primary);
  padding: 8px;
  margin-top: 24px;
  border-radius: 8px;
}

/* -- Rounding corners of buttons -- */
[class^='tagsContainer-'] button {
  border-radius: 8px;
}
[class^='tagsContainer-'] [class^='tagList-'] [class^='tagListInner-'] [class*='tag-'] {
  border-radius: 8px;
}

/* -- Resize gap of tag list -- */
[class^='tagsContainer-'] [class^='tagList-'] [class^='tagListInner-'] {
  gap: 6px;
}
