/**
 * ### USER PANEL ###
 */

section[class^='panels-'] [class^='container-'] {
  /* --- Make panel not a row --- */
  flex-direction: column;
  height: 100%;

  /* --- Color --- */
  background-color: hsl(var(--primary-700-hsl) / 0.5);

  /* --- Profile button --- */
  > [class^='avatarWrapper-'] {
    max-width: 100%;
    width: 100%;
    padding-left: 4px;
    margin: 8px;
    height: 50px;
    background-color: var(--background-primary);
    border-radius: 8px;

    /* --- Avatar image --- */
    > [class*='avatar-'] {
      margin-left: 4px;

      svg foreignObject {
        border-radius: 20%;
      }
    }

    /* --- Enlarge user name --- */
    > [class^='nameTag-'] [class*='usernameContainer-'] {
      font-size: 16px;
    }
  }

  /* --- Buttons container --- */
  > [class^='flex-'] {
    width: 100%;
    margin-bottom: 8px;

    /* --- Individual buttons --- */
    button {
      flex-grow: 1;
      margin: 0 4px;
      background-color: var(--background-primary);

      /* --- Round the corner of the first and the last buttons (plugins compat) --- */
      &:first-child {
        border-radius: 6px 0 0 6px;
        margin-right: 4px;
      }

      &:last-child {
        border-radius: 0 6px 6px 0;
        margin-left: 4px;
      }
    }
  }
}

/* --- Compact panel user popout: Removes profile info --- */
[class^='accountProfilePopoutWrapper-'] > [class^='userPopoutOuter-'] > [class^='userPopoutInner-'] > [class^='userPopoutOverlayBackground-'] {
  > [class^='scroller-'] {
    display: none;

    + [class^='divider-'] {
      display: none;
    }
  }
}
