/* --- Override Discord's avatar masks --- */
mask[id^='svg-mask-avatar-status-round-'] circle:first-child,
mask[id^='svg-mask-avatar-round-'] circle:first-child,
mask[id^='svg-mask-avatar-status-mobile-'] circle,
mask[id^='svg-mask-avatar-status-typing-'] circle,
mask[id='svg-mask-avatar-default'] circle {
  r: 1;
}

header [class^='header-'] div [class^='wrapper-'] svg > mask circle[fill='white'],
[class^='layout-'] [class^='avatar-'] [class^='wrapper-'] svg > mask circle[fill='white'],
[class^='avatarHoverTarget-'] [class^='wrapper-'] svg mask circle:first-child {
  r: 100;
}

[class^='layout-'] [class^='avatar-'] [class^='wrapper-'],
img[class^='avatar-'][class*='clickable-'],
foreignObject[mask^='url(#svg-mask-avatar-status-round-'],
foreignObject[mask^='url(#svg-mask-avatar-status-round-'] [class^='avatarHintInner-'],
[class^='layout-'] [class^='avatar-'] [class^='wrapper-'] svg foreignObject,
[class^='avatarHoverTarget-'] [class^='wrapper-'] svg foreignObject {
  border-radius: 20%;
}
/* !-- Override Discord's avatar masks --! */

/* --- Tweaks on user popouts --- */

/* No circular border on banner */
svg[class^='bannerSVGWrapper-'] foreignObject {
  mask: none;
}

/* Add a border around avatar */
header [class^='header-'] div [class^='wrapper-'],
[class^='userPopoutInner-'] [class*='avatarWrapper-'] [class^='avatarHoverTarget-'] {
  background-color: var(--profile-gradient-primary-color, var(--background-secondary));
  box-shadow: 0 0 0 6px var(--profile-gradient-primary-color, var(--background-secondary));
  border-radius: 20%;
}
[class^='userPopoutInner-'] [class*='avatarWrapper-'] [class^='avatarHoverTarget-'] div {
  border-radius: 0;
}

/* Highlight profile sections */
[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] {
  background-color: var(--background-secondary);
  padding: 0;
  border-radius: 6px;
  border: 8px solid transparent;
  margin-top: 12px;
}

[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] h2,
[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] h3 {
  padding: 2px 0;
  background-color: var(--profile-body-background-hover, var(--background-modifier-active));
  border: 2px solid transparent;
  text-align: center;
  display: block;
  border-radius: 6px;
}

[class*='userProfileInnerThemedWithBanner-'] [class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] {
  background-color: var(--profile-body-background-color);
}

/* Fix for Spotify section */
[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] [class^='activityUserPopoutV2-'] [class^='headerContainer-'] h2,
[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] [class^='activityUserPopoutV2-'] [class^='headerContainer-'] h3 {
  flex-grow: 1;
}
[class^='userPopoutOverlayBackground-']
  [class^='scroller-']
  [class^='section-']
  [class^='activityUserPopoutV2-']
  [class^='flex-']
  img[class^='platformIcon-'] {
  width: 20px;
  margin-top: 2px;
  margin-right: 2px;
}
[class^='userPopoutOverlayBackground-'] [class^='scroller-'] [class^='section-'] [class^='activityUserPopoutV2-'] [class^='bodyNormal-'] {
  margin-top: 12px;
}
[class^='userPopoutOverlayBackground-']
  [class^='scroller-']
  [class^='section-']
  [class^='activityUserPopoutV2-']
  [class^='bodyNormal-']
  [class^='assets-']
  a
  img[class*='assetsLargeImageSpotify-'] {
  border-radius: 20%;
}

/* !-- Tweaks on user popouts --! */

/* --- Destroy Nitro icon on GIF banners --- */
svg[class^='bannerSVGWrapper-'] foreignObject [class*='bannerPremium-'] [class^='premiumIconWrapper-'] {
  display: none;
}
/* !-- Destroy Nitro icon on GIF banners --! */
