/**
 * ### SERVER LIST ITEMS ###
 */

/* --- Coloring servers with no image --- */
foreignObject [class^='wrapper-'][class*='selected-'][data-list-item-id^='guildsnav'] [class*='acronym-'],
foreignObject [class^='wrapper-'][data-list-item-id^='guildsnav'] [class*='acronym-']:hover {
  color: var(--background-tertiary);
  background-color: var(--brand-experiment);
}

/* --- Make the unread pill less of a circular blob --- */
[class^='listItem-'] [class^='pill-'] span {
  border-radius: 0 2px 2px 0;
}

/* --- Recolor buttons --- */
[class^='tutorialContainer-']
  [class^='listItem-']
  [class^='listItemWrapper-']
  [class^='wrapper-']
  svg
  foreignObject
  [class^='wrapper-'][class*='selected-']
  div
  svg,
[class^='tutorialContainer-']
  [class^='listItem-']
  [class^='listItemWrapper-']
  [class^='wrapper-']
  svg
  foreignObject
  [class^='wrapper-']:hover
  div
  svg,
[data-list-id='guildsnav'] [class^='listItem-'] :not([class]) [class^='wrapper'][class*='selected-'] foreignObject div div,
[data-list-id='guildsnav'] [class^='listItem-'] :not([class]) [class^='wrapper']:hover foreignObject div div {
  color: var(--background-tertiary);
}
