/**
 * ### USER POPOUTS ###
 */

/* --- No circular border on banner --- */
svg[class^='bannerSVGWrapper-'] foreignObject {
  mask: none;
}
/* !-- No circular border on banner --! */

/* --- Add a border around avatar --- */
header [class^='header-'] div [class^='wrapper-'],
[class^='userPopoutInner-'] [class*='avatarWrapper-'] [class^='avatarHoverTarget-'],
[class^='userInfo-'] > [class^='wrapper-'],
[class*='profileCustomizationPreview-']
  > [class^='userPopoutInner-']
  > [class^='avatarUploader']
  > [class^='imageUploader-']
  > div
  > [class^='imageUploaderInner-'],
[class^='tryItOutLayout-']
  > [class^='customizationSection-']
  > [class^='userPopoutOuter-']
  > [class^='userPopoutInner-']
  > [class^='avatarUploader']
  > [class^='imageUploader-']
  > div
  > [class^='imageUploaderInner-'] {
  background-color: var(--profile-gradient-primary-color, var(--background-secondary));
  outline: 3px solid var(--profile-gradient-primary-color, var(--background-secondary));
  border-radius: 20%;
}
[class^='userPopoutInner-'] [class*='avatarWrapper-'] [class^='avatarHoverTarget-'] div {
  border-radius: 0;
}
/* !-- Add a border around avatar --! */

/**
 * #-- Beautify profile sections --#
 */

/* Add more spacing between sections */
[class^='userPopoutOverlayBackground-'] > [class^='scroller-'] > [class^='section-']:not([class*='lastSection-']) {
  padding: 0;
  margin-top: 12px;
}

/* Add background color to section header & center it */
[class^='userPopoutOverlayBackground-'] > [class^='scroller-'] > [class^='section-'] h2,
[class^='userPopoutOverlayBackground-'] > [class^='scroller-'] > [class^='section-'] h3,
[class^='userProfileModalInner-'] > :not([class^='topSection-']) > [class^='body-'] > [class^='infoScroller-'] > [class^='userInfoSection-'] h1,
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > [class^='headerContainer-']
  h1 {
  padding: 2px 0;
  background-color: var(--profile-body-divider-color);
  border: 2px solid transparent;
  text-align: center;
  display: block;
  border-radius: 6px 6px 0 0;
  margin-bottom: 4px;
}

/* Add background color on section content */
[class^='userPopoutOverlayBackground-'] > [class^='scroller-'] > [class^='section-']:not([class*='lastSection-']) > div:not([class*='activity-']),
[class^='userPopoutOverlayBackground-'] > [class^='scroller-'] > [class*='lastSection-'] > [class^='note-'] {
  border: 8px solid transparent;
  background-color: var(--profile-body-background-hover);
  border-radius: 0 0 6px 6px;
}

/* Add background to section content in user modal popouts */
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='infoScroller-']
  > [class^='userInfoSection-']
  > :not(h1) {
  background-color: var(--profile-body-background-hover);
  border: 8px solid transparent;
  border-radius: 0 0 6px 6px;
  margin: 0;
  margin-bottom: 16px;
}

/* Make spacing between section header & section content smaller in user modal popouts */
[class^='userProfileModalInner-'] > :not([class^='topSection-']) > [class^='body-'] > [class^='infoScroller-'] > [class^='userInfoSection-'] > h1 {
  margin-bottom: 4px;
}

/**
 *- Specific "hacks" for activity section
 */

/* Remove margin from header & make them full sized */
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > [class*='headerContainer-'],
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > [class^='headerContainer-'] {
  margin-bottom: 0;
}
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > [class*='headerContainer-']
  h2,
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > [class*='headerContainer-']
  h3,
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > [class^='headerContainer-']
  h1 {
  width: 100%;
}

/* Add background color to section */
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > div:not([class*='headerContainer-']):not([class^='flex-']),
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > div:not([class^='headerContainer-']) {
  border: 8px solid transparent;
  border-width: 8px 8px 0;
  background-color: var(--profile-body-background-hover);
  margin: 0;
}

/* Round corners at the end of section */
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > div[class^='flex-'],
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > div:not([class^='headerContainer-']) {
  border-radius: 0 0 6px 6px;
  background-color: var(--profile-body-background-hover);
}

/**
 * Button container "hacks"
 * 
 * Since I cannot add a border radius to the status details container and
 * the buttons container at the same time, I made the button container expand
 * on its own and it becomes the "border" of the status details when there's no buttons.
 */
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > div[class^='flex-'] {
  margin: 0;
  padding: 8px 0 0;
  border: 0 solid transparent;
  border-width: 0 8px;
}

/* Add spacing to bottom of button container only when it has buttons */
[class^='userPopoutOverlayBackground-']
  > [class^='scroller-']
  > [class^='section-']:not([class*='lastSection-'])
  > [class*='activity-']
  > div[class^='flex-']
  > :last-child {
  margin-bottom: 8px;
}

/* Fix border for user modal popout */
[class^='userProfileModalInner-']
  > :not([class^='topSection-'])
  > [class^='body-']
  > [class^='listScroller-']
  > [class*='userProfileActivity-']
  > div:not([class^='headerContainer-']) {
  border-width: 8px;
}

/* Increase width of section in user modal popouts */
[class^='userProfileModalInner-'] > :not([class^='topSection-']) > [class^='body-'] > [class^='listScroller-'] > [class*='userProfileActivity-'] {
  padding-right: 8px;
}

/**
 *! Specific "hacks" for activity section
 */

/**
 * !-- Beautify profile sections --!
 */

/* --- Remove Nitro icon on GIF banners --- */
svg[class^='bannerSVGWrapper-'] foreignObject [class*='bannerPremium-'] [class^='premiumIconWrapper-'] {
  display: none;
}
/* !-- Remove Nitro icon on GIF banners --! */
