/**
 * ### SETTINGS CONTENT ###
 */

/* Target all other layers, with a sidebar */
[class^='layer-']:not([class*='baseLayer-'])
  > [class^='standardSidebarView-']
  > [class^='contentRegion-']
  > [class^='contentTransitionWrap-']
  > [class^='contentRegionScroller-'] {
  justify-content: center;

  /* Target the main content */
  > [class^='contentColumn-'] {
    width: -webkit-fill-available;
    padding: 0;
    padding-top: 30px;

    /* Header */
    > h2:first-child,
    > div > [class^='sectionTitle'] > h2[class^='h1-'],
    > div:first-child > h2[class^='heading-lg-semibold-'],
    :not([class]) > [class^='sectionTitle'] > h2[class^='h1-'] {
      display: flex;
      margin: 10px 0 15px 0;
      padding: 10px;
      justify-content: center;
      background-color: var(--background-secondary);
      border-radius: 8px;
      width: 100%;
    }

    /* Target Replugged setting tabs specifically */
    &[id^='rp-'][id$='-tab'] {
      padding-top: 20px;

      > div:first-child {
        width: 100%;
        flex-direction: column;

        + [class^='divider-'] {
          margin-top: 10px !important;
          margin-bottom: 0 !important;
          border-color: transparent;
        }

        > div {
          align-self: flex-end;
        }
      }

      > .replugged-updater-header {
        background-color: var(--background-tertiary);
        border: 15px solid $background-color;
        margin: 0;
        border-radius: 8px;
      }

      &:has(.replugged-updater-items) > .replugged-updater-header {
        border-radius: 8px 8px 0 0;
      }
      
      > .replugged-updater-items {
        > :not(:last-child) {
          border-radius: 0;
        }

        > :last-child {
          border-radius: 0 0 8px 8px;
        }
      }
    }

    /* Avatar fix for account tab */
    &#my-account-tab [class^='accountProfileCard-'] {
      > [class^='bannerSVGWrapper-'] > mask > circle {
        r: 0;
      }

      > [class^='userInfo-'] > [class^='wrapper-'] {
        outline: 4px solid var(--background-tertiary);
        > svg > rect {
          z-index: 1000;
        }
      }
    }
  }

  /* Target the close button */
  > [class^='toolsContainer-'] {
    padding-top: 0;
    margin-right: 0;
    position: relative;
    left: 40px;
    top: 40px;

    > [class^='tools-'] {
      position: unset;
    }
  }
}
