.theme-dark,
.theme-light,
.theme-custom {
  --matter-brand-hue: 84;
  --brand-new-100: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 100%), 80%);
  --brand-new-130: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 85%), 75%);
  --brand-new-160: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 79%), 70%);
  --brand-new-200: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 68%), 66%);
  --brand-new-230: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 61%), 62%);
  --brand-new-260: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 58%), 60%);
  --brand-new-300: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 65%), 62%);
  --brand-new-330: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 68%), 63%);
  --brand-new-345: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 65%), 61%);
  --brand-new-360: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 59%), 56%);
  --brand-new-400: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 53%), 54%);
  --brand-new-430: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 49%), 53%);
  --brand-new-460: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 45%), 52%);
  --brand-new-500: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 54%), 64%);
  --brand-new-530: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 47%), 65%);
  --brand-new-560: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 42%), 61%);
  --brand-new-600: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 44%), 57%);
  --brand-new-630: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 47%), 48%);
  --brand-new-660: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 52%), 49%);
  --brand-new-700: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 51%), 46%);
  --brand-new-730: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 52%), 44%);
  --brand-new-760: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 55%), 42%);
  --brand-new-800: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 58%), 38%);
  --brand-new-830: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 52%), 37%);
  --brand-new-860: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 47%), 36%);
  --brand-new-900: hsl(var(--matter-brand-hue, 84), calc(var(--saturation-factor, 1) * 59%), 33%);
  --brand-100-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 100%) 80%;
  --brand-130-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 85%) 75%;
  --brand-160-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 79%) 70%;
  --brand-200-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 68%) 66%;
  --brand-230-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 61%) 62%;
  --brand-260-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 58%) 60%;
  --brand-300-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 65%) 62%;
  --brand-330-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 68%) 63%;
  --brand-345-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 65%) 61%;
  --brand-360-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 59%) 56%;
  --brand-400-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 53%) 54%;
  --brand-430-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 49%) 53%;
  --brand-460-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 45%) 52%;
  --brand-500-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 69%) 60%;
  --brand-530-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 66%) 54%;
  --brand-560-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 68%) 50%;
  --brand-600-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 44%) 51%;
  --brand-630-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 47%) 48%;
  --brand-660-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 49%;
  --brand-700-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 51%) 46%;
  --brand-730-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 44%;
  --brand-760-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 55%) 42%;
  --brand-800-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 58%) 38%;
  --brand-830-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 37%;
  --brand-860-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 47%) 36%;
  --brand-900-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 59%) 33%;
}
