.theme-dark,
.theme-light,
.theme-custom {
  --brand-100-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 100%) 80%;
  --brand-130-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 85%) 75%;
  --brand-160-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 79%) 70%;
  --brand-200-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 68%) 66%;
  --brand-230-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 61%) 62%;
  --brand-260-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 60%) 75%;
  --brand-300-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 65%) 62%;
  --brand-330-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 68%) 63%;
  --brand-345-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 65%) 61%;
  --brand-360-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 59%) 56%;
  --brand-400-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 53%) 54%;
  --brand-430-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 49%) 53%;
  --brand-460-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 45%) 52%;
  --brand-500-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 45%) 55%;
  --brand-530-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 66%) 54%;
  --brand-560-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 45%) 30%;
  --brand-600-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 44%) 51%;
  --brand-630-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 47%) 48%;
  --brand-660-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 49%;
  --brand-700-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 51%) 46%;
  --brand-730-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 44%;
  --brand-760-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 55%) 42%;
  --brand-800-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 58%) 38%;
  --brand-830-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 52%) 37%;
  --brand-860-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 47%) 36%;
  --brand-900-hsl: var(--matter-brand-hue, 84) calc(var(--saturation-factor, 1) * 59%) 33%;
  --brand-new-100: hsl(var(--brand-100-hsl));
  --brand-new-130: hsl(var(--brand-130-hsl));
  --brand-new-160: hsl(var(--brand-160-hsl));
  --brand-new-200: hsl(var(--brand-200-hsl));
  --brand-new-230: hsl(var(--brand-230-hsl));
  --brand-new-260: hsl(var(--brand-260-hsl));
  --brand-new-300: hsl(var(--brand-300-hsl));
  --brand-new-330: hsl(var(--brand-330-hsl));
  --brand-new-345: hsl(var(--brand-345-hsl));
  --brand-new-360: hsl(var(--brand-360-hsl));
  --brand-new-400: hsl(var(--brand-400-hsl));
  --brand-new-430: hsl(var(--brand-430-hsl));
  --brand-new-460: hsl(var(--brand-460-hsl));
  --brand-new-500: hsl(var(--brand-500-hsl));
  --brand-new-530: hsl(var(--brand-530-hsl));
  --brand-new-560: hsl(var(--brand-560-hsl));
  --brand-new-600: hsl(var(--brand-600-hsl));
  --brand-new-630: hsl(var(--brand-630-hsl));
  --brand-new-660: hsl(var(--brand-660-hsl));
  --brand-new-700: hsl(var(--brand-700-hsl));
  --brand-new-730: hsl(var(--brand-730-hsl));
  --brand-new-760: hsl(var(--brand-760-hsl));
  --brand-new-800: hsl(var(--brand-800-hsl));
  --brand-new-830: hsl(var(--brand-830-hsl));
  --brand-new-860: hsl(var(--brand-860-hsl));
  --brand-new-900: hsl(var(--brand-900-hsl));
}
